---
interface Props {
  id: string;
  name: string; 
  details: string; 
  success: boolean; 
  img: string;
}

const { id, name, details, success, img } = Astro.props;
---

<a href={`/launches/${id}`}>
  <picture class="flex justify-center p-">
    <img src={img} alt={`Patch for launch ${id}`} />
  </picture>
  <h2 class="">{name}</h2>
  <p class="">{details}</p> 
  <p class="">{success}</p>
</a> 